<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink=""><img src="https://i.imgur.com/PKYEax9.png" alt="Logo"> </a>
        </li>
        <li class="nav-item right-nav-bar px-2">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item right-nav-bar px-2">
          <a class="nav-link active" aria-current="page" routerLink="/about-us">About Us</a>
        </li>
        <li class="nav-item right-nav-bar px-2">
          <a class="nav-link active" aria-current="page" routerLink="/our-ai">Our AI</a>
        </li>
        <li class="nav-item right-nav-bar px-2">
          <a class="nav-link active" aria-current="page" routerLink="/demo">Demo</a>
        </li>
        <li class="nav-item right-nav-bar px-2">
          <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<p>Home</p>